<section class="w-full h-screen">
  <div class="grid grid-cols-2 gap-10 h-full">
    <%= render "profiles/form" %>
    <div class="iframe_container">
      <%= render "admin/iframe_preview" %>
    </div>
  </div>
</section>